body {
  background-color: rgba(28, 29, 31, 255);
  font-family: Verdana;
}
.head {
  color: #f3f3f4;
  font-size: 50px;

  text-align: center;
}
#dataForm {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f4;
  padding: 20px;
  border-radius: 40px;
  overflow-y: scroll;
  height: 700px;
  scrollbar-width: none;
}

.inputs {
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
  background-color: transparent;
  border: 1px solid #f3f3f4;
  color: #f3f3f4;
}
.buttons {
  padding: 20px;
  margin: 5px;
  background-color: transparent;
  outline: none;
  border: 1px solid #f3f3f4;
  color: #f3f3f4;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.sizeLabel {
  margin: 5px;
  color: #f3f3f4;
}

.sizeOptions {
  background-color: rgba(28, 29, 31, 1);
  color: #f3f3f4;
}
